
.feed {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 34px;
  margin: 24px;
  margin-top: 150px;
}


@media screen and (min-width: 1024px) { 
  .feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: unset;
  }

  .title {
    font-size: 48px;
  }
  
}